[Desktop Entry]
Version=1.0
Type=Application
Name=Vivaldi private
Comment=Access the Internet
Exec=vivaldi-stable -incognito
Icon=vivaldi
Path=
Terminal=false
StartupNotify=false
